div {
    width: 50vw;
    margin: auto;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25vw;
}
#gem {
    margin-top: 16px;
    text-align: center;
    font-size: 13px;
}
#subtitle {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

#wow {
    margin-left: 3%;
}

#focaccia {
    display: block;
    margin-left: 3%;
    margin-right: auto;
    width: 95%;
    border-radius: 2%;
    box-shadow: 5px 5px 1px #dedede2b;
}

#sally {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    background-color:transparent;
    border: 0.5px solid transparent;
    color: #969696;
}


#feature {
    color:red;
    margin-left: 3%;
    border-left: 1px #FFDE05 solid;
}

#ingredient {
    margin-top: 50px;
}

#ingredients {
    font-weight:normal;
}

#mixing {
    margin-left: 6%;
}

li {
    margin-bottom: 14px;
}